<ion-header>
  <ion-toolbar>
          <ion-buttons slot="start">
                  <ion-back-button defaultHref="login"></ion-back-button>
          </ion-buttons>
      <ion-title>
          Registrar Usuario
          <ion-icon name="person-add"></ion-icon>         
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="toolbar-background">
    <ion-content center text-center>
        <form [formGroup]="person" (ngSubmit)="logForm()">
            <ion-item>
                <ion-label>Nombre:</ion-label>                
                <ion-input type="text" formControlName="nombre" name="nombre"  required><ion-icon name="person"></ion-icon></ion-input>
            </ion-item>
            <ion-item>                
                <ion-label> Apellido:</ion-label>
                <ion-input type="text" formControlName="apellido" name="apellido" required><ion-icon name="person"></ion-icon></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Correo:</ion-label>                
                <ion-input type="email" formControlName="correo" name="correo" required><ion-icon name="mail"></ion-icon></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>edad:</ion-label>                
                <ion-input type="number" for mControlName="edad" name="edad" required><ion-icon name="calendar"></ion-icon></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Contraseña:</ion-label>               
                <ion-input type="password" formControlName="contra" name="contra" required> <ion-icon name="key"></ion-icon></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>DPI:</ion-label>                
                <ion-input type="text" formControlName="dpi" name="dpi" required><ion-icon name="today"></ion-icon></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Estado Marital:<ion-icon name="ribbon"></ion-icon></ion-label>
                <ion-select formControlName="marital" placeholder="Seleciona una opcion" required>
                    <ion-select-option value="Casado">Casado</ion-select-option>
                    <ion-select-option value="Soltero">Soltero</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Genero:<ion-icon name="woman"></ion-icon>
                    <ion-icon name="man"></ion-icon></ion-label>   

                <ion-select formControlName="genero" placeholder="Seleciona una opcion" required>
                    <ion-select-option value="Masculino">Hombre</ion-select-option>
                    <ion-select-option value="Femenino">Mujer</ion-select-option>
                </ion-select>
            </ion-item>
            <button class="button" [disabled]="person.invalid" ion-button type=" submit " block>Registrar Usuario</button>            
        </form>
    </ion-content>
</ion-content>
